body {
	background-color: #efefef;	
}

.note{
	height:14em;
	padding:.5em;
	width:24em;
	position:relative;
	overflow:hidden;
	cursor:pointer;
	text-align: left;
	font-family:Trebuchet MS,Tahoma,Myriad Pro,Arial,Verdana,sans-serif;
	font-size:1.3em;
	
		background-color:#fff;
	border:.1em solid #cfcfcf;
}

.category, .number {
	top:1em;
	color:#666666;
	font-family:Arial,Verdana,sans-serif;
	font-size:.6em;
	position:absolute;
}
.category {
	right:1em;
}

.number{
	left:1em;
}

.read {
	background-image: url("../img/speaker.png");
	width: 24px;
	height: 24px;
	position: absolute;
	bottom: 1em;
	left: 1em;
}

.picture {
	position: absolute;
	bottom: 1em;
	right: 1em;
}

.picture img {
	width: 9em;
}

a.next, a.prev {
	display: none;
}

a.prev {
	
}

a.next {
	
}

div.original, div.translated {
	margin-left: 1em;	
	position: absolute;
	width: 13em;
}

div.translated {
	display: none;	
}

ul.term, ul.example {
	margin-left: 1em;	
	font-weight: bold;
}

ul.term {
	margin-top: 2em;
}

ul.example {
	margin-top: 1.5em;
}

ul.term {
	list-style: disc;	
}

ul.example {
	list-style: circle;	
}

li.nobullet {
	list-style: none;	
	font-weight: normal;
}

.bold {
	font-weight: bold;	
}