body {
	background-color: #efefef;	
}
.memocard {
	height:14em;
	padding:.5em;
	width:24em;
	position:relative;
	overflow:hidden;
	cursor:pointer;
	text-align: left;
	font-family:Trebuchet MS,Tahoma,Myriad Pro,Arial,Verdana,sans-serif;
	font-size:1.3em;
	background-color:#fff;
	border:.1em solid #cfcfcf;
}

.current {
	font-weight: bold;
}

.memohint {
	z-index: 50000;
	position:absolute;
	left:.5em;
	height:1em;
	padding:.5em;
	margin: 0;
	background:#fff;
	background:rgba(255,255,255,0);
	font-size:.6em;
	text-shadow:none;
	text-align: right;
}

ul.pagination {
	
}

.slides_container {
	visibility: hidden;
	margin-top: 6em;
}

.category, .number {
	top:1em;
	color:#666666;
	font-family:Arial,Verdana,sans-serif;
	font-size:.6em;
	position:absolute;
}
.category {
	right:1em;
}

.number {
	left:1em;
}

.read {
	background-image: url("../img/speaker.png");
	width: 24px;
	height: 24px;
	position: absolute;
	bottom: .3em;
	left: .5em;
	display: none;
}

.picture {
	position: absolute;
	bottom: 1em;
	right: 1em;
}

.picture img {
	width: 8em;
	padding: 0;
	margin: 0;
}

a.next, a.prev {
	display: none;
}

a.prev {
	
}

a.next {
	
}

div.original, div.translated {
	margin-left: 1em;	
	position: absolute;
	width: 13em;
}

div.translated {
	display: none;	
}

ul.term, ul.example {
	margin-left: 1em;	
	font-weight: bold;
}

ul.term {
	margin-top: 2em;
}

ul.example {
	margin-top: 1.5em;
}

ul.term {
	list-style: disc;	
}

ul.example {
	list-style: circle;	
}

li.nobullet {
	list-style: none;	
	font-weight: normal;
}

.bold {
	font-weight: bold;	
}

